- if @last_high.nil? or @tide1.nil? or @tide2.nil
  #results
    %h2 No results for that location
-else
  #results
    %h1 Here are your tides:

    %p.low_tide= "Last high was #{@last_high}"
    %p.high_tide
      Next high tide:
      = @tide1
    %p.tomorrow_tide
      And the next one
      = @tide2


= link_to 'Search again', '/'
.secondary
  .buy_links
    .caption
      %p
        Going to the beach?  You just might like
        %a{:href => "javascript:void(null)", :id => 'rollup'} some of these items
    #content
      %ul.burger_bullet 
        %li
          %a{:href => "http://www.decktowel.com/collections/frontpage/products/boudewijn"} Deck towel!
          = image_tag "images/deck_towel.jpg", :alt => 'Deck towel'
