.tides
  - if @last_high.nil? or @tide1.nil? or @tide2.nil?
    %p No results for that location.
  - else
    .callout
      %a{:href => '#buy_links'} A word from our sponsor...
    %p Last high tide:
    .last_high
      = @last_high
    %p Next high tide:
    .high_tide
      = @tide1
    %p And the next one
    .tomorrow_tide
      = @tide2


= link_to 'Search again', '/'
.secondary
  #buy_links
    .caption
      %p
        Going to the beach?  You just might like
        %a{:href => "javascript:void(null)", :id => 'rollup'} some of these items
    #content
      %ul.burger_bullet 
        %li
          %a{:href => "http://www.decktowel.com/collections/frontpage/products/boudewijn"} Deck towel!
          = image_tag "images/deck_towel.jpg", :alt => 'Deck towel'
